body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

#productTable {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000; 
}

#productTable th, #productTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000; 
    border-right: 1px solid #000000; 
}

#productTable th {
    background-color: #34b2ec;
    color: #fff;
}

#productTable tbody tr:hover {
    background-color: #d8d4d4;
}
